{% extends "app/base.html" %}

{% block content %}

<div class="card top d-flex flex-column justify-content-end mb-4">
    <img src="{{ profile_data.topimage.url }}" alt="">
    <div class="overlay text-white p-5">
        <h1 class="title">{{ profile_data.title }}</h1>
        <h5 class="subtitle">{{ profile_data.subtitle }}</h5>            
    </div>
</div>

<div class="row mb-5">
    {% for camp in camp_data %}
        <div class="col-6 col-md-3 mb-3">
            <div class="card camp-thumbnail">
                {% if work.thumbnail %}
                    <img class="camp-img" src="{{ camp.thumbnail.url }}" alt="">
                {% else %}
                    <img class="camp-img" src="{{ camp.image.url }}" alt="">
                {% endif %}
                <div class="camp-title text-center">
                    <p class="mb-0">ビジネスの基礎</p>
                </div>
                <a class="stretched-link camp" href=""></a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}